.skills {
    scroll-margin-top: var(--header-height-full);
}

.skills__container {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 5%;
    justify-content: center;
}

.skill__box {
    display: flex;
    flex-direction: column;
}

.skill__title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2rem;
    text-align: center;
}

.skill__content {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    row-gap: .25rem;
}

.skill__data {
    display: flex;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
}

/* ================== Breakpoints ================== */
/* LLarge */
@media screen and (max-width: 1440px) {
    .skill__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-around;
    }
}

/* Large */
@media screen and (max-width: 992px) {
    .skill__box {
        padding: 3rem 1rem;
    }

    .skills__container {
        column-gap: 2rem;
    }

    .skill__title {
        margin-bottom: 1rem;
    }

    .skill__content{
        justify-content: space-between;
    }
}

/* Median */
@media screen and (max-width: 768px) {
    .skills__container {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    .skill__box {
        padding: 1rem 0 2rem;
    }

    .skill__content{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-around;
    }
}